:root{
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
    scrollbar-width: smooth;
    scroll-padding-top: 16vh;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

section{
    padding: 2rem 7%;
}

section h3{
    text-align: center;
    padding: 1rem 0rem;
    font-size: 5rem;
    color: var(--main-color);
    text-shadow: 2px 2px 0 var(--card-color) , -2px -2px 0 var(--card-color) , 
    -2px 2px 0 var(--card-color) , 2px -2px 0 var(--card-color);
}

.btn{
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 0.2rem;
}

.wrapper1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.pastry .wrapper1 .cake-card1{
    background-color: rgb(232, 217, 247);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
}

.pastry .wrapper1 .cake-card1:hover{
    transform: scaleX(1.1);
    background-color: rgb(228, 169, 179);
}

.pastry .wrapper1 .cake-card1:hover *:not(a){
    color: var(--main-color);
}

.pastry .wrapper1 .cake-card1 img{
    width: 100%;
}

.pastry .wrapper1 .cake-card1 h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.pastry .wrapper1 .cake-card1 .price{
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.pastry .wrapper1 .cake-card1 .price span{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}