:root{
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
    scrollbar-width: smooth;
    scroll-padding-top: 16vh;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

section{
    padding: 2rem 7%;
}

section h1{
    text-align: center;
    padding: 1rem 0rem;
    font-size: 5rem;
    color: var(--main-color);
    text-shadow: 2px 2px 0 var(--card-color) , -2px -2px 0 var(--card-color) , 
    -2px 2px 0 var(--card-color) , 2px -2px 0 var(--card-color);
}

.btn{
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 0.2rem;
}

.wrapper2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.products .wrapper2 .cheese-card2{
    text-align: center;
    background-color: #c4f2b9;
    padding: 2rem;
    border: var(--border);
}

.products .wrapper2 .cheese-card2:hover{
    box-shadow: var(--box-shadow)
}

.products .wrapper2 .cheese-card2 .icons a{
    border: var(--border);
    height: 5rem;
    width: 5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem;
}

.products .wrapper2 .cheese-card2 .icons a:hover{
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}

.products .wrapper2 .cheese-card2 .img{
    padding: 2.5rem 0;
}

.products .wrapper2 .cheese-card2 .img img{
    /* height: 20rem; */
    width:100%;
}

.products .wrapper2 .cheese-card2 .content h3{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.products .wrapper2 .cheese-card2 .content .stars{
    padding: 1.8rem;
}

.products .wrapper2 .cheese-card2 .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .wrapper2 .cheese-card2 .content .price{
    color: #fff;
    font-size: 1.8rem;
}

.products .wrapper2 .cheese-card2 .content .price span{
    color: #fff;
    font-size: 1.4rem;
    text-decoration: line-through;
}
